In [2]:
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer

In [3]:
# Localy
# data_url = 'https://github.com/dmika1234/ml_uwr_22/blob/Project/Project/data/fake_job_postings.csv'
data_path = 'data/fake_job_postings.csv'
raw_data = pd.read_csv(data_path)


# For colab
# data_url = '/content/fake_job_postings.csv'
# raw_data = pd.read_csv(data_url, error_bad_lines=False, engine="python")
#straszny problem miałem, żeby wczytać te dane tak ja ty to robiłeś. dziwne błędy mi wyskakiwały

# Text data preprocessing

Removing punctuation, stop words and grouping together the different inflected forms of a word.

In [4]:
text_colnames = ['company_profile', 'description', 'requirements', 'benefits']
text_data = raw_data[['job_id'] + text_colnames]
text_data.fillna('', inplace = True)

tokenizer = RegexpTokenizer(r'\w+')
nltk.download('stopwords') 
nltk.download('wordnet')
nltk.download('omw-1.4')
stop_words = set(stopwords.words('english'))
lemmatizer = WordNetLemmatizer()

for i in range(text_data.shape[0]):
    for col in ['company_profile', 'description', 'requirements', 'benefits']:
        text_data.at[i,col] = tokenizer.tokenize(text_data.at[i,col].lower()) # removing punctuation
        filtered_sentence = []
        for w in text_data.at[i,col]:
            if w not in stop_words: # removing words such as “the”, “a”, “an”, “in”
                filtered_sentence.append(lemmatizer.lemmatize(w)) # grouping together the different inflected forms of a word 
        text_data.at[i,col] = np.array(filtered_sentence)

C:\Users\dmika\AppData\Local\Temp\ipykernel_12208\426744585.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  text_data.fillna('', inplace = True)
[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\dmika\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\dmika\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!
[nltk_data] Downloading package omw-1.4 to
[nltk_data]     C:\Users\dmika\AppData\Roaming\nltk_data...
[nltk_data]   Package omw-1.4 is already up-to-date!

In [5]:
text_data

,job_id,company_profile,description,requirements,benefits
0,1,"[food52, created, groundbreaking, award, winni...","[food52, fast, growing, james, beard, award, w...","[experience, content, management, system, majo...",[]
1,2,"[90, second, world, cloud, video, production, ...","[organised, focused, vibrant, awesome, passion...","[expect, key, responsibility, communicate, cli...","[get, usthrough, part, 90, second, team, gain,..."
2,3,"[valor, service, provides, workforce, solution...","[client, located, houston, actively, seeking, ...","[implement, pre, commissioning, commissioning,...",[]
3,4,"[passion, improving, quality, life, geography,...","[company, esri, environmental, system, researc...","[education, bachelor, master, gi, business, ad...","[culture, anything, corporate, collaborative, ..."
4,5,"[spotsource, solution, llc, global, human, cap...","[job, title, itemization, review, managerlocat...","[qualification, rn, license, state, texasdiplo...","[full, benefit, offered]"
...,...,...,...,...,...
17875,17876,"[vend, looking, awesome, new, talent, come, jo...","[case, first, time, visited, website, vend, aw...","[ace, role, eat, comprehensive, statement, wor...","[expect, u, open, culture, openly, share, resu..."
17876,17877,"[weblinc, e, commerce, platform, service, prov...","[payroll, accountant, focus, primarily, payrol...","[b, b, accounting, desire, fun, love, genuine,...","[health, amp, wellnessmedical, planprescriptio..."
17877,17878,"[provide, full, time, permanent, position, man...","[experienced, project, cost, control, staff, e...","[least, 12, year, professional, experience, ab...",[]
17878,17879,[],"[nemsia, studio, looking, experienced, visual,...","[1, must, fluent, latest, version, corel, amp,...","[competitive, salary, compensation, based, exp..."
17879,17880,"[vend, looking, awesome, new, talent, come, jo...","[vend, award, winning, web, based, point, sale...","[want, hear, depth, understanding, oo, program...",[]

Most popular words

In [6]:
all_words = {}
for column_name in text_colnames:
    all_words[column_name] = np.concatenate(text_data[column_name])

In [172]:
from collections import Counter

number_of_most_common_wrds = 1000
most_popular_words = {}
for column_name in text_colnames:
    count_words = Counter(all_words[column_name])
    most_popular_words[column_name] = np.array(count_words.most_common(number_of_most_common_wrds))[:,0]

In [8]:
most_popular_words['benefits']

array(['work', 'benefit', 'company', 'competitive', 'team', 'opportunity',
       'offer', 'salary', 'time', 'paid', 'amp', 'dental', 'full',
       'insurance', 'day', 'employee', 'environment', 'working',
       'package', 'hour', 'health', 'life', 'u', 'job', 'vacation',
       'training', 'medical', 'holiday', 'experience', 'career', 'office',
       'service', 'plan', 'vision', 'people', 'including', 'based',
       'great', 'part', 'year', 'free', 'new', 'well', 'pay', 'get',
       'compensation', 'bonus', 'business', 'see', 'also', 'growing',
       'please', 'one', 'position', 'development', 'month', 'best',
       'world', 'employment', '401k', 'make', 'option', 'fun', 'fast',
       'technology', 'flexible', 'description', 'term', 'disability',
       'product', 'growth', 'want', 'client', 'industry', 'per',
       'international', 'startup', 'professional', 'solution', 'personal',
       'lunch', 'provide', 'like', 'commission', 'sale', 'week',
       'excellent', 'exciting', 'skill', 'include', 'creative',
       'employer', 'start', 'need', 'application', 'comprehensive',
       'plus', 'candidate', 'sick', 'apply', 'culture', 'role', '000',
       'high', 'every', 'base', 'k', 'open', '1', 'available', 'friendly',
       'long', 'perk', '3', 'program', 'stock', 'grow', 'snack',
       'management', 'dynamic', 'match', 'help', 'value', 'within',
       'customer', 'first', 'join', 'care', 'way', 'leave', 'chance',
       'equity', '6', 'receive', 'support', 'location', 'performance',
       'highly', 'hard', 'event', 'equal', 'includes', 'believe', '5',
       'learning', 'status', 'project', 'learn', 'leading', 'brand',
       'generous', 'group', 'potential', 'suite', 'site', 'may', 'data',
       'etc', 'successful', 'take', 'medium', 'family', 'travel',
       'mobile', 'top', 'marketing', 'coffee', '90', 'good',
       'remuneration', 'e', 'building', 'global', '401', 'agency',
       'share', 'right', 'play', 'much', 'lot', 'big', 'level', 'short',
       'real', 'friday', 'tx', 'web', 'information', 'love', 'period',
       'idea', 'passionate', 'online', 'around', '10', 'provided',
       'future', '40', 'prospect', 'end', 'access', 'visit',
       'collaborative', 'home', 'coverage', 'gym', 'outside', 'social',
       'phone', 'without', 'success', 'expect', 'place', 'field',
       'atmosphere', 'conference', 'policy', 'plenty', 'market',
       'spending', 'national', 'applicant', 'reward', 'software',
       'resume', 'many', 'advancement', 'individual', 'know', 'tech',
       'send', 'come', 'develop', 'account', 'contract', 'qualification',
       'following', 'give', '2', 'retirement', 'rate', 'membership',
       'food', 'pto', 'staff', 'incentive', 'call', 'impact', 'healthy',
       'amazing', 'veteran', 'center', 'reimbursement', 'happy', 'thing',
       'create', 'race', 'protected', 'enjoy', 'fully', 'offering',
       'across', 'result', 'strong', 'goal', 'stocked', 'cover',
       'awesome', 'workplace', 'edge', '4', '100', 'forward', 'together',
       'mso', 'regard', 'religion', 'challenging', 'interview', 'build',
       'name', 'depending', 'however', '25', 'manager', 'use', '20',
       'website', 'page', 'allowance', 'digital', 'annual', 'credit',
       'london', 'colleague', 'expense', 'ability', 'nbsp', 'young',
       'would', 'monthly', 'assistance', 'check', 'attractive', 'smart',
       'looking', 'representative', 'structure', 'area', 'responsibility',
       'line', 'quality', 'discount', '80', 'paced', 'balance', 'heart',
       'quarterly', 'organization', 'cv', '30', 'member', 'drink',
       'class', 'located', 'beer', 'tool', 'education', 'reference',
       'motivated', 'color', 'additional', 'dependent', 'scheme', 'mean',
       'choice', '9', 'problem', '8', 'qualified', 'communication',
       'relaxed', 'process', 'upon', 'schedule', 'weekly', 'talent',
       'keep', 'origin', 'become', 'space', 'cutting', '00', 'tax',
       'dress', 'network', 'co', 'major', 'hr', 'something', 'cost',
       'saving', 'ad', 'platform', 'provides', 'supplemental', 'talented',
       'google', 'self', 'innovative', 'change', '15', 'sex', 'knowledge',
       '14', 'door', 'go', 'delivery', 'really', 'done', 'leader',
       'directly', 'daily', 'pension', 'healthcare', 'unlimited',
       'related', 'aflac', 'increase', 'eligible', 'partner', 'address',
       'direct', 'follow', 'local', 'interested', 'consider', 'twitter',
       'tidewater', 'offered'], dtype='<U14')

# One-hot encoding

In [173]:
onehot_dfs = {}
for text_colname in text_colnames:
    onehot_array = np.zeros((text_data.shape[0], number_of_most_common_wrds))
    for i in np.arange(text_data.shape[0]):
        onehot_array[i] = np.isin(most_popular_words[text_colname], text_data[text_colname][i]).astype('int64')
    column_names = np.vectorize(lambda x: text_colname + '_' + str(x))(most_popular_words[text_colname])
    onehot_dfs[text_colname] = pd.DataFrame(onehot_array, columns=column_names)

# Preparing other columns to model

In [36]:
raw_data

,job_id,title,location,department,salary_range,company_profile,description,requirements,benefits,telecommuting,has_company_logo,has_questions,employment_type,required_experience,required_education,industry,function,fraudulent
0,1,Marketing Intern,"US, NY, New York",Marketing,,"We're Food52, and we've created a groundbreaki...","Food52, a fast-growing, James Beard Award-winn...",Experience with content management systems a m...,,0,1,0,Other,Internship,,,Marketing,0
1,2,Customer Service - Cloud Video Production,"NZ, , Auckland",Success,,"90 Seconds, the worlds Cloud Video Production ...",Organised - Focused - Vibrant - Awesome!Do you...,What we expect from you:Your key responsibilit...,What you will get from usThrough being part of...,0,1,0,Full-time,Not Applicable,,Marketing and Advertising,Customer Service,0
2,3,Commissioning Machinery Assistant (CMA),"US, IA, Wever",,,Valor Services provides Workforce Solutions th...,"Our client, located in Houston, is actively se...",Implement pre-commissioning and commissioning ...,,0,1,0,,,,,,0
3,4,Account Executive - Washington DC,"US, DC, Washington",Sales,,Our passion for improving quality of life thro...,THE COMPANY: ESRI – Environmental Systems Rese...,"EDUCATION: Bachelor’s or Master’s in GIS, busi...",Our culture is anything but corporate—we have ...,0,1,0,Full-time,Mid-Senior level,Bachelor's Degree,Computer Software,Sales,0
4,5,Bill Review Manager,"US, FL, Fort Worth",,,SpotSource Solutions LLC is a Global Human Cap...,JOB TITLE: Itemization Review ManagerLOCATION:...,QUALIFICATIONS:RN license in the State of Texa...,Full Benefits Offered,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Hospital & Health Care,Health Care Provider,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17875,17876,Account Director - Distribution,"CA, ON, Toronto",Sales,,Vend is looking for some awesome new talent to...,Just in case this is the first time you’ve vis...,To ace this role you:Will eat comprehensive St...,What can you expect from us?We have an open cu...,0,1,1,Full-time,Mid-Senior level,,Computer Software,Sales,0
17876,17877,Payroll Accountant,"US, PA, Philadelphia",Accounting,,WebLinc is the e-commerce platform and service...,The Payroll Accountant will focus primarily on...,- B.A. or B.S. in Accounting- Desire to have f...,Health &amp; WellnessMedical planPrescription ...,0,1,1,Full-time,Mid-Senior level,Bachelor's Degree,Internet,Accounting/Auditing,0
17877,17878,Project Cost Control Staff Engineer - Cost Con...,"US, TX, Houston",,,We Provide Full Time Permanent Positions for m...,Experienced Project Cost Control Staff Enginee...,At least 12 years professional experience.Abil...,,0,0,0,Full-time,,,,,0
17878,17879,Graphic Designer,"NG, LA, Lagos",,,,Nemsia Studios is looking for an experienced v...,1. Must be fluent in the latest versions of Co...,Competitive salary (compensation will be based...,0,0,1,Contract,Not Applicable,Professional,Graphic Design,Design,0
17879,17880,Web Application Developers,"NZ, N, Wellington",Engineering,,Vend is looking for some awesome new talent to...,Who are we?Vend is an award winning web based ...,We want to hear from you if:You have an in-dep...,,0,1,1,Full-time,Mid-Senior level,,Computer Software,Engineering,0

In [174]:
working_df = raw_data.copy()

Spliting location into country, state, city

In [175]:
working_df[['country', 'state', 'city']] = working_df['location'].str.split(',', expand=True).iloc[:,0:3]

Splitting salary range into min, max salary

In [176]:
working_df[['salary_min', 'salary_max']] = working_df['salary_range'].str.split('-', expand=True)
working_df[['salary_min', 'salary_max']] = working_df[['salary_min', 'salary_max']].apply(pd.to_numeric, errors='coerce').fillna(-1)

Getting column names for later

In [177]:
target_colname = 'fraudulent'
# Getting numerical colnames and deleting not useful
numerical_colnames = list(working_df.select_dtypes(include='int64').columns)
numerical_colnames = list(set(numerical_colnames) - set(['job_id', target_colname]))
numerical_colnames = numerical_colnames + ['salary_min', 'salary_max']
# Getting other text colnames and deleting not useful
other_text_colnames = list(set(working_df.select_dtypes(include='object').columns) - set(text_colnames))
other_text_colnames = list(set(other_text_colnames) - set(['location', 'salary_range']))
print(numerical_colnames)
print(text_colnames)
print(other_text_colnames)

['has_questions', 'has_company_logo', 'telecommuting', 'salary_min', 'salary_max']
['company_profile', 'description', 'requirements', 'benefits']
['country', 'employment_type', 'industry', 'required_experience', 'function', 'state', 'department', 'city', 'title', 'required_education']

Filling missing values

In [178]:
working_df[text_colnames + other_text_colnames] = working_df[text_colnames + other_text_colnames].fillna('')
working_df[numerical_colnames] = working_df[numerical_colnames].fillna(0)

In [179]:
working_df[other_text_colnames].apply(lambda x: np.unique(x).shape[0]).sort_values()

employment_type            6
required_experience        8
required_education        14
function                  38
country                   91
industry                 132
state                    326
department              1338
city                    2336
title                  11231
dtype: int64

We will only use those with not so much levels(<50 for start)

In [180]:
final_other_text_colnames = ['employment_type', 'required_experience', 'required_education', 'function']

Creating final DataFrame for model

In [181]:
X = pd.get_dummies(working_df[final_other_text_colnames], columns=final_other_text_colnames)
# Join one-hot encoded text data
for text_colname in text_colnames:
    X = pd.concat((X, onehot_dfs[text_colname]), axis=1)
X[numerical_colnames] = working_df[numerical_colnames]
y = working_df[target_colname]
X

,employment_type_,employment_type_Contract,employment_type_Full-time,employment_type_Other,employment_type_Part-time,employment_type_Temporary,required_experience_,required_experience_Associate,required_experience_Director,required_experience_Entry level,...,benefits_solid,benefits_app,benefits_immediate,benefits_profitable,benefits_america,has_questions,has_company_logo,telecommuting,salary_min,salary_max
0,0,0,0,1,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0,1,0,-1.0,-1.0
1,0,0,1,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0,1,0,-1.0,-1.0
2,1,0,0,0,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0,1,0,-1.0,-1.0
3,0,0,1,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0,1,0,-1.0,-1.0
4,0,0,1,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,1,1,0,-1.0,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17875,0,0,1,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,1,1,0,-1.0,-1.0
17876,0,0,1,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,1,1,0,-1.0,-1.0
17877,0,0,1,0,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0,0,0,-1.0,-1.0
17878,0,1,0,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,1,0,0,-1.0,-1.0
17879,0,0,1,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,1,1,0,-1.0,-1.0

Creating train-test split

In [182]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.1, random_state=42, stratify=y)

First model

In [183]:
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression().fit(X_train, y_train)

0.9513422818791947

In [202]:
from sklearn.metrics import confusion_matrix, roc_auc_score


def evaluate_performance(y_test, y_proba, threshold=0.2):
    y_pred = (y_proba >= threshold).astype('int64')
    results = {}
    results['y_pred'] = y_pred
    # Get the confusion matrix
    tn, fp, fn, tp = confusion_matrix(y_test, y_pred).ravel()

    # Calculate the detection percentage
    results['detection_percentage'] = tp / (tp + fn)
    # Calculate precision
    results['precision'] = tp / (tp + fp)
    # Calculate accuracy
    results['accuracy'] = (tp + tn) / (tp + tn + fp + fn)
    # Calculate F1-score
    results['f1_score'] = 2 * (results['precision'] * results['detection_percentage']) /\
                          (results['precision'] + results['detection_percentage'])
    results['auc_roc'] = roc_auc_score(y_test, y_proba)

    return results

In [203]:
y_proba = clf.predict_proba(X_test)[:, 1]
res = evaluate_performance(y_test, y_proba, threshold=0.2)
res

{'y_pred': array([0, 0, 0, ..., 0, 0, 0], dtype=int64),
 'detection_percentage': 0.12643678160919541,
 'precision': 0.19298245614035087,
 'accuracy': 0.9317673378076062,
 'f1_score': 0.15277777777777776,
 'auc_roc': 0.7027171305587653}

# All in one go

In [11]:
from sklearn.feature_extraction.text import CountVectorizer

# Initialize the vectorizer
vectorizer = CountVectorizer(stop_words='english', max_features=100)

# fit_transform the vectorizer to your numpy array column
raw_data.fillna('', inplace = True)
X = vectorizer.fit_transform(raw_data['company_profile'])
df = pd.DataFrame(X.todense(), columns=vectorizer.get_feature_names_out())